fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
passlib[bcrypt]
pydantic
alembic
python-jose[cryptography]
pydantic-settings
qrcode
Pillow
requests
email-validator
redis>=4.5.0
